<% if (current_user && current_user.Patient?) || (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>
<%= render "layouts/navbar" %>

<% if (current_user && current_user.Patient?) %>
  <head>
    <script type="text/javascript">
    window.history.forward();
    function noback() { window.history.forward(); }
    </script>
  </head>
  <body onload="noback();"
  onpageshow="if (event.persisted) noback();" onunload="">
<% end %>

  <h1 class="text-center">Patient Information</h1>
  <%= render 'layouts/identifier' %>
  <% if (current_user && current_user.Patient?) %>
    <%= link_to 'New Record', new_regi_patient_path, :disable_with => "processing", class:'btn btn-sm btn-outline-dark m-1 rounded-pill' %>
  <% end %>
  <% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>
    <%= link_to 'New Record', new_regi_patient_path, class: "btn btn-sm btn-outline-dark outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
    <%= link_to 'Patient Charts', regi_charts_path, class:"btn btn-sm btn-outline-primary outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
    <%= link_to 'Patient Files', regi_filings_path, class:"btn btn-sm btn-outline-info outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
    <%= link_to 'Previous Page', :back, class:"btn btn-sm btn-outline-secondary outline-double rounded-pill px-2 py-0 m-1 fw-bold" %>
    <button onclick="window.print()", class="btn btn-sm btn-outline-success outline-double rounded-pill px-2 py-0 m-1 fw-bold" >Print This Page</button>
  <% end %>
  <table class="table table-sm table-striped table-hover mt-1">
    <thead class="table-success fs-6">
    <tr>
        <th style="width:105px">Dated on</th>
        <th>Contact Info</th>
        <th>Weight</th>
        <th>Complaints</th>
        <th>Onset/Pain</th>
        <th>Referred by</th>
        <th>Health History</th>
      </tr>
    </thead>
    </tbody>

      <% @regi.patients.order("v_date DESC").each do |patient| %>
        <tr>
          <td>
            <% if (current_user && current_user.Patient?)%>
              <%= patient.v_date %> 
            <% elsif (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>
              <%= link_to patient.v_date, regi_patient_path(@regi,patient) %>
            <% end %>
          </td>  
          <td>
            <%= patient.street %><%= ', ' if patient.street? %>
            <%= patient.city %>
            <%= patient.state %>
            <%= patient.zip %>
            <%= 'C: ' if patient.cell? %><%= patient.cell %>
            <%= 'H: ' if patient.home? %><%= patient.home %>
            <%= 'W: ' if patient.work? %><%= patient.work %>
            <%= 'E: ' if patient.email? %><%= patient.email %>
          </td>
          <td>
            <%= patient.weight %>
          </td>
          <td>
            <%= '1.' if patient.com1? %>
            <%= patient.com1.strip %><%= '; 2.' if patient.com2? %>
            <%= patient.com2.strip %><%= '; 3.' if patient.com3? %>
            <%= patient.com3.strip %>
          </td>
          <td>
            <%= patient.d_onset %><%= '/Pain: ' if patient.pain_scale? %>
            <%= patient.pain_scale %>
          </td>
          <td><%= patient.referred %></td>
          <td>
            <%= (patient.di_list.to_sentence).gsub(/_/, ' ').gsub(/;/, '') %><%= ', ' if patient.o_dis? %>
            <%= patient.o_dis %><%= ', Preg' if patient.preg == 'Yes' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>